/* Адаптив */
$mobile: 320px;
$tablet: 720px;
$desktop: 1024px;

/* Шрифты */
$fontRegular: "Montserrat-Regular", sans-serif;
$fontMedium: "Montserrat-Medium", sans-serif;
$fontBold: "Montserrat-Bold", sans-serif;
$fontSemibold: "Montserrat-Semibold", sans-serif;
$fontExtraBold: "Montserrat-ExtraBold", sans-serif;

/* Цвета */
$black: #111111;
$green: #45D068;
$green2: #3EB95D;
$gray: #808185;
$gray2: #CBCDD6;
$blue: #039BE5;

$color-gradient: linear-gradient(90deg, #2DA3F1 0%, #59D6ED 25%, #32D7A8 70%, #45D068 100%);